@import App

section
    background: $background_color__middle
    a
        display: block
        padding: $primary_block_padding
    h1
        padding: $primary_h1_padding
    h1, h3
        color: $class_color
    input